body {
	padding-top: 70px;
  overflow:scroll;
  position:relative;
}

#map-canvas.active {
  height:200px;
  width:100%;
}

ul#case-list {
  overflow:scroll;
  top:'300px'
}

ul#case-list > li:hover {
	background-color: #f5f5f5;
}

ul#case-list > li:active {
	background-color: #428bca;
	border: #428bca;
}

#btn-neighborhood {
	font-size:2em;
}

.scroll-area {
	height: 350px;
	position: relative;
	overflow: auto;
}

.row-buffer {
	margin-top: 20px;
}

.spin{
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin 1.2s infinite linear;
     -moz-animation: spin 1.2s infinite linear;
     -o-animation: spin 1.2s infinite linear;
     animation: spin 1.2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

