body {
	padding-top: 70px;
}

#map-canvas.active {
  height:250px;
  width:100%;
}

ul#case-list {
  overflow:scroll;
}

#btn-neighborhood {
  font-size:2em;
}

.scroll-area {
	height: 350px;
	position: relative;
	overflow: auto;
}
