body {
	padding-top: 70px;
  overflow:scroll;
  position:relative;
}

#map-canvas.active {
  height:250px;
  width:100%;
}


ul#case-list {
  overflow:scroll;
  top:'300px';
}

ul#case-list > li:hover {
	background-color: #f5f5f5;
}

ul#case-list > li:active {
	background-color: #428bca;
	border: #428bca;
}

#btn-neighborhood {
  font-size:2em;
}

.case-path{
 fill:blue; 
}

.scroll-area {
	height: 350px;
	position: relative;
	overflow: auto;
}

.row-buffer {
	margin-top: 20px;
}


