# Requirements for development and packaging

# flake8 - syntax checking
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
flake8==2.2.2

# coverage - line and branch coverage
coverage==3.7.1

# nose - improved test runner
nose==1.3.3
django-nose==1.2

# tox - multi-environment testing
tox==1.7.2

# check-manifest - Check distutils MANIFEST.in
check-manifest==0.21

# pyroma - Check distribution
docutils==0.12
pyroma==1.6

# Sphinx - documentation
Pygments==1.6
Sphinx==1.2.2

# gunicorn - WSGI app runner (similar to Heroku)
gunicorn==19.1.1
