{% extends "bpz/base.jinja2" %}

{% block head_title %}Neighborhood Plugin{% endblock %}

{% block body_container %}

<div id="info_container" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <h2 class="page-header">About</h2>
      <p class="lead">
        <p>
          TulsaNow is a grassroots organization focused on the intelligent and sustainable development, preservation, and revitalization of Tulsa. TulsaNow’s Mission is to help Tulsa become the most vibrant, diverse, sustainable and prosperous city of its size. We achieve this by focusing on the development of Tulsa’s distinctive identity and economic growth around a dynamic, urban core, complemented by a constellation of livable, thriving communities.
        </p>
        <p>
          Each of these efforts requires more public involvement, and more education to the public about citizen-led planning, and land use / transportation issues. A diversity of opinion will help the city decide what is best for all its citizens. It so happens that INCOG manages two databases:
        </p>
        <p>
          1. They have the list of every neighborhood association in the city.
        </p>
        <p>
          2. They manage a mapped database of all zoning / planning issues, marked as “pending cases” http:// map3.incog.org/flex/landdev/pending/ So let’s say XYZ company is wanting to build in a certain location in the city, or the city is making changes, INCOG would map that location, flag it as a pending case, and these pending cases get brought before the TMAPC, or the Board of Adjustments, etc. for approval.
        </p>
        <p>
          By connecting these two dots, we can create a tool that someone can use to enter their address, in order to find out about their nearest neighborhood association, and learn about pending cases in their area.
        </p>
    <div class="row"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <a href="/hoa" class="btn btn-success btn-block" id="btn-neighborhood">Find my Neighborhood&raquo;</a>
    </div>

  </div>

</div><!-- /.container -->

{% endblock %}

{% block body_js -%}

<script>
  d3.select("#map-canvas").classed("active",false)
  d3.select("#info_container").style({"top":"50px","position":"absolute"})
</script>
{%- endblock body_js %} 

