{% extends "bpz/base.jinja2" %}

{% block content %}

  <divlass="panel panel-default">
    <div class="panel-heading">Cases</div>
    <ul id="case-list" class="list-group"></ul>
  </div>



{% endblock content %}



{% block body_js -%}
  <script>
    
  
    $(document).ready(function () {

        bpz.api.cases().done(function (data) {
          
          bpz.map.featureLayer.setGeoJSON(data);
                    
          var zoomCase = function (layer) {
             bpz.map.fitBounds(layer.getBounds(),{maxZoom:16,animate:true})
          }
          
          
          bpz.map.featureLayer.on('click',function (e) {
            // bpz.map.fitBounds(e.layer.getBounds(),{maxZoom:16,animate:true})
            
            var container = $('body'),
                scrollTo = $('#object_id-'+e.layer.feature.properties.object_id);

            container.animate({
                scrollTop: scrollTo.offset().top - container.offset().top -325
            })
            
            zoomCase(e.layer)

          })
          
          var ul = d3.select("#case-list")
          ul.style({position:'relative',top:'300px'})
    
          cases = ul.selectAll("li")
            .data(data.features)
            .enter()
            .append("li")
              .classed("list-group-item",true)
            .append("div")
              .classed("media",true)
              .on("click",function (d,i) {
                var layer,obj_id = d.properties.object_id
                layers = bpz.map.featureLayer.getLayers()
                _.each(layers,function (element, index, list) {
                  if (element.feature.properties.object_id === obj_id){
                    zoomCase(element)    
                  }
                })
              
              })
      
          cases
            .append("div")
            .classed("pull-left",true)
            .insert("svg")
              .classed("media-object",true)
              .attr({width:50,height:50})
              .insert("path")
                  .attr({
                    d: d3.geo.path(),
                    class: "leaflet-clickable",
                    transform: function (d,i,e) {
                      bb=this.getBBox()
                      scale = (40/Math.max(bb.height,bb.width))
                      tx = -bb.x*scale
                      ty = -bb.y*scale
                      return "translate("+tx+","+ty+") scale("+scale+")"
                    },

                  })
          cases
            .insert("div")
              .classed("media-body",true)
              .attr({id: function (d,i) {
                return "object_id-"+d.properties.object_id
              },})
              .append("p").text(function (d) {
                return "STATUS: "+d.properties.status 
              })
              .append("p").text(function (d) {
                return "CASE TYPE: "+d.properties.case_type 
              })
              .append("p").text(function (d) {
                return "HEARING DATE: "+d.properties.hearing_date 
              })
              .append("p").text(function (d) {
                return "LOCATION: "+d.properties.location 
              })
              .append("p").text("APPLICATION: ")
              .append("a").text(function (d) {
                return d.properties.case_id 
              })
              .attr({
                target:"_blank",
                href: function (d) {
                return d.properties.link
                },
              })


// case_type: "Board of Adjustment"
// hearing_date: "2014-07-08"
// location: "City Council Chambers"
// status: "Continued"
          
        }) //end get date
    })//end doc ready
  </script>
{%- endblock body_js %}  
  



