
{% extends "bpz/base.jinja2" %}

{% block content %}
 
<div id="map-canvas"> </div>


<div>
  
  <ul id="case_list"></ul>
  
</div>

<script>
  

$(document).on('bpz_load',function () {
  
  bpz.api.cases().done(function (cases) {
    
    map.featureLayer.setGeoJSON(cases);
    map.featureLayer.on('click',function (e) {
      $("#case_list").html("");
      for (prop in e.layer.feature.properties){
        
        $("#case_list").append($("<li>").text(prop + " : " + e.layer.feature.properties[prop])) 
        
        
      }

    })
    }
  )
})

</script>


{% endblock content %}



  
  



