{% extends "bpz/base.jinja2" %}

{% block head_title %}Neighborhood Plugin{% endblock %}

{% block body_container %}
<div id="intro_div" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
	<h3>Welcome to the Neighborhood Plugin!</h3>
      <p class="lead"> The Neighborhood Plugin is a great way to help Tulsan's find their nearest neighborhood association and learn about pending zoning and planning cases in their area.  If you live in Tulsa and want to become more involved in your community, then all you need to do is provide your location to get started.  <a href="/about">Learn More&#62;&#62;</a> </p>
    </div>
  </div>
</div><!-- /.container -->

{% endblock %}

{% block body_js -%}
<script>
jQuery(document).ready(function () {
  bpz.activateMap()    
  //d3.select("#intro_div").style({"top":"300px","position":"absolute"});
})  
</script>
{%- endblock body_js %}
