{% extends "bpz/base.jinja2" %}

{% block head_title %}Neighborhood Plugin{% endblock %}

{% block body_container %}
<div class="jumbotron">
  <div class="container">
    <h1 class="smaller">Welcome to the Neighborhood Plugin</h1>
    <p>
        Hi, this is some information about what this app is, what it does,
        and why it needs to use your GPS to find your neighborhood.
        <a href="#">Learn more&gt;&gt;</a>
    </p>
  </div>
</div>
{% endblock %}
